.btn {
  border-radius: 8px;
  border: 2px solid $light-grey;
  background: $light-grey;
  height: 32px;
  width: 150px;
  margin: 0 6px;
  font-family: $ff__dosis;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  color: $darkest-grey;
  color: $white;
  cursor: pointer;

  &.large {
    width: 200px;
  }

  &.font-sm {
    font-size: 16px;
  }

  &.orange {
    background: $pumpkin;
    border-color: $pumpkin;
  }

  &.green {
    background: $avocado;
    border-color: $avocado;
    color: $dark-grey;
  }

  &.header-select {
    border-radius: 8px;
    border: 1px solid $white;
    background: transparent;
    height: 32px;
    margin: 0 10px;
    padding: 0;
    font-family: $ff__dosis;
    font-size: 20px;
    text-transform: uppercase;
    color: $white;
    transition: background .2s;

    &.active {
      background: $avocado;
      border-color: $avocado;
      color: $dark-grey;
      font-weight: bold;
    }
  }

  &-carousel {
    $size: 54px;
    border-radius: ($size / 2);
    border: 1px solid $white;
    background: transparent;
    height: $size;
    width: $size;
    margin: 0 8px;
    padding: 0;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background .2s;

    >div {
      margin-top: 2px;
      margin-left: 0.5px;
    }

    &.active {
      background: $avocado;
      border-color: $avocado;
    }
  }
}

@media all and (min-width: $breakpoint__sm) {
  .btn {
    width: 100%;
    max-width: 160px;
  }
}
