// colors:

$color__header-text: #fff;
$color__navbar: #fff;
$color__background: #e8e8e8;
$color__well: #fff;
$color__table: #adadad;
$color__table--open: #c1ef81;
$color__button--active: #c1ef81;
$color__table-number: #686868;
$color__text-default: #282828;
$color__border-default: #282828;
$color__dark-grey: #484848;
// $color__well: #fff5d3;
$color__pumpkin: #ffad58;

// breakpoints:
$breakpoint__sm: 576px;
$breakpoint__md: 768px;
$breakpoint__lg: 992px;
$breakpoint__xl: 1200px;

// sizes:
$size__table: 80px;
$size__tables-gap: 20px;
$size__well-margin: 10px;
$size__header: 60px;

// border-radius:
$br__default: 15px;

// font-sizes:
$fs__logo: 20px;
$fs__table: 24px;
$fs__h1: 22px;

// times:
$time__default-transition: 100ms;
$time__page-transition: .2s;
