// colors:
$color__navbar: #fff;
$color__background: #e8e8e8;
$color__table: #ffcc99;
$color__table--open: #99ffcc;
$color__table-number: #686868;

// breakpoints:
$breakpoint__sm: 576px;
$breakpoint__md: 768px;
$breakpoint__lg: 992px;
$breakpoint__xl: 1200px;

// sizes:
$size__table: 100px;
$size__tables-gap: 20px;
$size__header: 60px;

// font-sizes:
$fs__table: 28px;

// font-families:
$ff__poiret: 'Poiret One', cursive;
$ff__roboto: 'Roboto', sans-serif;

// times:
$time__table-transition: 100ms;
