// colors:
$white: #fff;
$light-grey: #adadad;
$dark-grey: #484848;
$darkest-grey: #282828;
$avocado: #c1ef81;
$pumpkin: #ffad58;

// breakpoints:
$breakpoint__sm: 576px;
$breakpoint__md: 768px;
$breakpoint__lg: 992px;
$breakpoint__xl: 1200px;

// sizes:
$size__table: 80px;
$size__tables-gap: 20px;
$size__well-margin: 10px;

// times:
$time__default-transition: .1s;
$time__page-transition: .2s;
